.container {
    display: grid;
    width: 800px;
    height: 800px;
    border: 2px solid black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px;
}

#userInput {
    width: 150px;
    margin-right: 10px;
}

button {
    position: relative;
    background-color: blue;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 5px 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

button:after {
    content: "";
    background: blueviolet;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}